#cloud-config
hostname: {{ vm_name }}
users:
  - name: {{ cloud_init_user }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    home: /home/{{ cloud_init_user }}
    shell: /bin/bash
    lock_passwd: false
    passwd: "{{ cloud_init_password | password_hash('sha512') }}"
ssh_pwauth: true
disable_root: false
chpasswd:
  expire: false

package_update: true
packages:
  - snort

bootcmd:
  - echo 'ttyS0' > /etc/securetty

runcmd:
  - netplan apply
  - systemctl enable snort
